.calendar-page {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  margin: 20px;
  gap: 20px; 
}

.calendar-container {
  flex: 1;
  width: calc(100vw - 40px);  
  max-width: 100%;            
  margin: 100px auto; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
}

.calendar-container h2 {
  margin-bottom: 20px;
}

.calendar-container button {
  margin-top: 10px;
}

.appointment-actions {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-end;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

button:hover {
  background-color: #4CAF50;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

li button {
  margin-left: 0px;
  background-color: #4CAF50;
}

li button:hover {
  background-color: #4CAF50;
}


@media screen and (max-width: 600px) {
  .calendar-container {
      margin: 30px 15px;  
      padding: 15px;
  }

  form input,
  form select {
      padding: 8px;
  }

  button {
      font-size: 14px;
      padding: 10px 18px;
  }
} 