* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins"; /* fonte pra geral */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #efeeff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-logo-container {
  flex-shrink: 0;
}

.nav-logo {
  width: 180px;
  height: auto;
}

.navbar-links-container {
  display: flex;
  gap: 1rem;
}

.nav-link {
  background: none;
  border: none;
  color: #0b5722;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #97d1a9;
}

/* responsividade */

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #0b5722;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navbar-links-container {
    display: none;
    flex-direction: column;
    background-color: #efeeff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .navbar-links-container.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}