* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.container {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.container h2 {
    margin-bottom: 1rem;
    background-color: black;
    font: arial;
}

.container cadastro {
    width: 100%;
    max-width: 90%;
    background-color: #F6F4ED;
    border-radius: 20px;
    padding: 36px 64px;
}
